<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Заказ пиццы</title>

    <style>
        div {
            //border: solid 1px;
            font-size: 22px;
            padding-bottom: 30px;
        }
        .io {
            margin-left: 50px;
        }
    </style>

    <!-- подключаем ядро Jquery -->
    <script type="text/javascript" src="/static/jquery/jquery-2.0.3.min.js"></script>

    <!-- подключаем модуль cookie -->
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>

    <script>
		/* получение параметров заказа после загрузки документа */
		$(document).ready(function () {
			//get_order();
		});
		
		/* функция компоновки пользовательского ордера */
        function pizza_pizza(button) {
			var order = [];
			var pizzas = [];
            $(button).hide(200).delay(2000).show(200);

            var client_name = $('#choice [name = name] input').val();
            order['client_name'] = client_name;

            $('#choice [name = assortment] input:checked, #choice [name = assortment] input:text').each(function() {
                var pizza_checked = $(this).val();
                if (pizza_checked != '') {
					pizzas[pizzas.length] = pizza_checked;
                }
            });
			order['pizzas'] = pizzas;
			
			send_order(order);			
        }
		
		/* функция отправки пользовательского ордера в общий заказ */
		function send_order(order) {
            $.ajax({
                type: "POST",
                url: "/",
                dataType: 'JSON',
                data: {
					action: 'send',
                    order: order
                }
            });
			
			//get_order();
		}
		
		/* функция получения параметров заказа */
		function get_order() {
            $.ajax({
                type: "POST",
                url: "/",
                //dataType: 'JSON',
                data: {
					action: 'get'
                }
            });
		}
    </script>
</head>
<body>
    <div>
        <img src="/static/infobox_pizza.png" />
    </div>

    <div id="choice" style="width: 49%; min-height: 500px; float: left;">
        <div name="title">
            <span style="text-decoration: underline;">Заказ пиццы!</span>
        </div>
        <div name="name">
            <span>Имя</span><br />
            <input type="text" class="io">
        </div>
        <div name="assortment">
            <span>Пожелания</span><br />
            <input type="checkbox" class="io pizza" value="pizza_1">pizza_1</input><br />
            <input type="checkbox" class="io pizza" value="pizza_2">pizza_2</input><br />
            <input type="checkbox" class="io pizza" value="pizza_3">pizza_3</input><br />
            <input type="checkbox" class="io pizza" value="pizza_4">pizza_4</input><br />
            <input type="checkbox" class="io pizza" value="pizza_5">pizza_5</input><br />
            <input type="text" name="other" class="io pizza" placeholder="Другое"><br />
        </div>
        <input type="button" value="Я буду пиццу!" class="io" style="width: 200px; height: 100px;" onclick="pizza_pizza(this);" />
    </div>

    <div id="order" style="width: 49%; min-height: 500px; float: left;">
        <div name="title">
            <span style="text-decoration: underline;">Уже выбрали пиццу</span>
        </div>
        <div name="clients">
            <span>Эти люди:</span><br />
            <span class="val io">...</span>
        </div>
        <div name="pizzas">
            <span>Будут кушать:</span><br />
            <span class="val io">...</span>
        </div>
	<hr>{{date}}
	<hr>{{pizza}}
    </div>
</body>
</html>
